<!DOCTYPE html>
<html ng-app="tttApp">
	<head>
		<meta charset="utf-8">
		<title>Tic Tac Toe Project</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/reset.css">
		<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/style1.css">
		<link rel="stylesheet" href="css/style2.css">
		<script src="js/angular.min.js"></script>
		<!-- Firebase -->
		<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/gameController.js"></script>
	</head>

	<body ng-controller="GameController">
	  <header>
	  	<div  id="score_section" class="wrapper" >
	  		<div class="redteam" ng-class="{redhightlight: game.colorSwitch.red }">	
	  			<div class="topRedContent">  
	  				<span class="redpointcircle" ng-class="{redpointcirclehighlight: player.redScore[0]}"> </span>
	  				<span class="redpointcircle" ng-class="{redpointcirclehighlight: player.redScore[1]}"></span>
	  				<span class="redpointcircle" ng-class="{redpointcirclehighlight: player.redScore[2]}"></span>
	  				<span id="redscore">{{player.redTotalScores}}</span>
	  			</div>			
	  	    </div>

	  		<div class="blueteam" ng-class="{bluehightlight: game.colorSwitch.blue}">
	  			<div class="topBlueContent">  
	  				<span id="bluescore">{{player.blueTotalScores}}</span>
	  				<span class="bluepointcircle" ng-class="{bluepointcirclehighlight: player.blueScore[2]}"></span>
	  				<span class="bluepointcircle" ng-class="{bluepointcirclehighlight: player.blueScore[1]}"></span>
	  				<span class="bluepointcircle" ng-class="{bluepointcirclehighlight: player.blueScore[0]}"></span>
	  			</div>	
	  		</div>
	  		<div class="clear"></div>
	  	</div>
	  	<div id="message" class="wrapper">
	  		<span ng-class="{redwin: game.redWinFlag, bluewin: game.blueWinFlag, draw: game.drawFlag}">{{game.outcome}}</span>
	  		<div class="clear"></div>
	  	</div>
	  </header>

	  <section>
	  	<div class="wrapper">
		  	<div class="title" ng-class="{titleanimate: game.initiate}" >
		  	   TIC TAC<br>
		  	   TOE
		  	</div>
		  	<div class="redWinGame" ng-show="game.redWinGame">
	               Red Team Won The Game!
		  	</div>
		  	<div class="blueWinGame" ng-show="game.blueWinGame">
	               Blue Team Won The Game!
		  	</div> 
		  	<div class="redWinGame" ng-show="game.redWinBlueQuit">
	               Red Team Quits. Blue Team Wins!
		  	</div>
		  	<div class="blueWinGame" ng-show="game.blueWinRedQuit">
	              Red Team Quits. Blue Team Wins!
		  	</div> 

			<div class="gridcontainer" ng-if="game.gameStart" >
		  	<div class="board" >
			  	<side class="front" >
					  <div class="line1"></div>
					  <div class="line2"></div>
					  <div class="line3"></div>
					  <div class="line4"></div>
					  <div class="innerline1"></div>
					  <div class="innerline2"></div>
					  <div class="innerline3"></div>
					  <div class="innerline4"></div>

				  	<table>
				  		<tr>
				  			<td ng-click="gamePlay(0, 1)">{{game.grid[0]}}</td>
				  			<td ng-click="gamePlay(1, 1)">{{game.grid[1]}}</td>
				  			<td ng-click="gamePlay(2, 1)">{{game.grid[2]}}</td>
				  		</tr>
				  		<tr>
				  			<td ng-click="gamePlay(3, 2)">{{game.grid[3]}}</td>
				  			<td ng-click="gamePlay(4, 2)">{{game.grid[4]}}</td>
				  			<td ng-click="gamePlay(5, 2)">{{game.grid[5]}}</td>
				  		</tr>
				  		<tr>
				  			<td ng-click="gamePlay(6, 3)">{{game.grid[6]}}</td>
				  			<td ng-click="gamePlay(7, 3)">{{game.grid[7]}}</td>
				  			<td ng-click="gamePlay(8, 3)">{{game.grid[8]}}</td>
				  		</tr>
				  	</table>
					</side>

					<side class="back">
					</side>
					<side class="right">
						<div class="borderline1"></div>
					</side>
					<side class="left">
					  <div class="borderline2"></div>
					</side>
					<side class="top">
						<div class="borderline3"></div>
					</side>
					<side class="bottom">
					  <div class="borderline4"></div>
          </side>
		  	</div>  <!-- End of <div class="board" > block -->
	  	</div> <!--  End of <div class="gridcontainer" ng-if="game.gameStart" > -->
	  </div>  <!-- End of <div class="wrapper"> -->
	 </section>

	<!--   Footer block -->
	  <footer>
	  	<div id="footer_display" class="wrappper">
	  	  <div id="register_box" class="wrapper" ng-controller="UsersController as users">
	    	<div style="float: left">
	    			<button class="redinput" ng-click="chooseOption('red')" ng-class="{redinput_clicked: players.red.occupied }" ng-disabled="players.red.occupied">
	    				Red
	    			</button>
	    	</div>
	    	<div class="play_game" >
	    			<button class="startbutton" ng-click="startGame()" ng-show="(players.blue.occupied && players.red.occupied && game.playButtonFlag)">
						<span ng-hide="game.playAgainFlag">Play</span>
						<span ng-show="game.playAgainFlag">Play Again?</span>
	    			</button>
	    	</div>
	    	<div  style="float: right" >
	    			<button class="blueinput" ng-click="chooseOption('blue')" ng-class="{blueinput_clicked: players.blue.occupied }" ng-disabled="players.blue.occupied">
	    				Blue
	    			</button>
	      </div>
	      <div class="clear"></div>
	      <div class="wrapper">
	      	<button class="quitbutton" ng-click="unseated()" ng-show="(unseatedDisplay && game.leaveButtonFlag)">	Leave
	      	</button>
	      <div class="clear"></div>
	  	  </div>
	  	<div>
	  </footer>

	</body>
</html>
