/*Top Section Score Style*/

.redteam{
	height: 80px;
	width: 350px;
	border: 3px solid #00CAFC;
	border-radius: 10px;
	-webkit-transform: skew(-220deg);
	-moz-transform: skew(-220deg);
	box-shadow:0px 0px 15px 5px rgba(0,198,255,0.5);
	color: white;
	position: absolute;
}


.redteam:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 7px;
   left: 7px;
   right: 7px;
   bottom: 7px;
   border: 3px solid #00CAFC;
   border-radius: 10px;
   box-shadow:0px 0px 15px 5px rgba(0,198,255,0.5);
}




.redhightlight{
	height: 80px;
	width: 350px;
	border: 3px solid red;
	border-radius: 10px;
	-webkit-transform: skew(-220deg);
	-moz-transform: skew(-220deg);
	box-shadow:0px 0px 15px 5px rgba(255, 0, 0, 1);
	color: white;
	position: absolute;
}


.redhightlight:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 7px;
   left: 7px;
   right: 7px;
   bottom: 7px;
   border: 3px solid red;
   border-radius: 10px;
   box-shadow:0px 0px 15px 5px rgba(255, 0, 0, 1);
}






.topRedContent {
	width: 270px; 
	height: 60px;
	-webkit-transform: skew(220deg);
	-moz-transform: skew(220deg);
	margin: 0 auto;
	margin-top: 15px;

}


.blueteam{
	height: 80px;
	width: 350px;
	border: 3px solid #00CAFC ;
	box-shadow:0px 0px 15px 5px rgba(0,198,255,0.5);
	border-radius: 10px;
	-webkit-transform: skew(-140deg);
	-moz-transform: skew(-140deg);
	position: absolute;
	right: 0px;
	color: white;
	
}

.blueteam:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 7px;
   left: 7px;
   right: 7px;
   bottom: 7px;
   border: 3px solid #00CAFC;
   border-radius: 10px;
   box-shadow:0px 0px 15px 5px rgba(0,198,255,0.5);
}


.bluehightlight{
	height: 80px;
	width: 350px;
	border: 3px solid blue ;
	box-shadow:0px 0px 15px 5px blue;
	border-radius: 10px;
	-webkit-transform: skew(-140deg);
	-moz-transform: skew(-140deg);
	position: absolute;
	right: 0px;
	color: white;
	
}

.bluehightlight:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 7px;
   left: 7px;
   right: 7px;
   bottom: 7px;
   border: 3px solid blue;
   border-radius: 10px;
   box-shadow:0px 0px 15px 5px blue;
}







.topBlueContent {
	width: 270px; 
	height: 70px;
	margin: 0 auto;
	margin-top: 15px;
	-webkit-transform: skew(140deg);
	-moz-transform: skew(140deg);
}


/*Footer Team Option Style*/
.redinput {
	width: 270px;
	height: 70px;
	border: 3px solid #00CAFC;
	border-radius: 10px;
	background: transparent;
	box-shadow:0px 0px 15px 5px rgba(0,198,255,0.5);
	color: red;
	font-weight: bold;
	float: left;
	display: block;
	position: relative;

}


.redinput:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border: 3px solid #00CAFC;
   border-radius: 5px;
   box-shadow:0px 0px 15px 5px rgba(0,198,255,0.5)
}


.redinput:hover {
	width: 270px;
	height: 70px;
	border: 3px solid #FDFE01;
	border-radius: 10px;
	background: transparent;
	box-shadow:0px 0px 15px 5px #FDFE01;
	color: #FDFE01;
	font-weight: bold;
	float: left;
	display: block;
	position: relative;

}


.redinput:hover:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border: 3px solid #FDFE01;
   border-radius: 5px;
   box-shadow:0px 0px 15px 5px #FDFE01;
}


.redinput_clicked {
	width: 270px;
	height: 70px;
	border: 3px solid red;
	border-radius: 10px;
	background: transparent;
	box-shadow:0px 0px 15px 5px red;
	color: red;
	font-weight: bold;
	float: left;
	display: block;
	position: relative;

}


.redinput_clicked:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border: 3px solid red;
   border-radius: 5px;
   box-shadow:0px 0px 15px 5px red ;
}


.blueinput {
	width: 270px;
	height: 70px;
	border: 3px solid #00CAFC;
	border-radius: 10px;
	background: transparent;
	box-shadow:0px 0px 15px 5px rgba(0,198,255,0.5);
	color: blue;
	font-weight: bold;
	float: right;
	display: block;
	position: relative;

}


.blueinput:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border: 3px solid #00CAFC;
   border-radius: 5px;
   box-shadow:0px 0px 15px 5px rgba(0,198,255,0.5)
}


.blueinput:hover {
	width: 270px;
	height: 70px;
	border: 3px solid #FDFE01;
	border-radius: 10px;
	background: transparent;
	box-shadow:0px 0px 15px 5px #FDFE01;
	color: #FDFE01;
	font-weight: bold;
	float: right;
	display: block;
	position: relative;

}


.blueinput:hover:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border: 3px solid #FDFE01;
   border-radius: 5px;
   box-shadow:0px 0px 15px 5px #FDFE01;
}


.blueinput_clicked {
	width: 270px;
	height: 70px;
	border: 3px solid blue;
	border-radius: 10px;
	background: transparent;
	box-shadow:0px 0px 15px 5px blue;
	color: blue;
	font-weight: bold;
	float: right;
	display: block;
	position: relative;

}


.blueinput_clicked:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border: 3px solid blue;
   border-radius: 5px;
   box-shadow:0px 0px 15px 5px blue ;
}


.startbutton {
	width: 150px;
	height: 150px;
	border: 5px solid #00CAFC;
	color: #00CAFC;
	font-weight: bold;
	font-size: 25px;
    border-radius: 50%;
    background: transparent;
   box-shadow:0px 0px 15px 5px rgba(0,198,255,0.5);
   display: block;
   position: relative;
   margin: 0 auto;

}

.startbutton:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 10px;
   left: 10px;
   right: 10px;
   bottom: 10px;
   border: 3px solid #00CAFC;
   border-radius: 50%;
   box-shadow:0px 0px 15px 5px rgba(0,198,255,0.5);
}


.startbutton:hover {
	width: 150px;
	height: 150px;
	border: 5px solid #FDFE01;
	color: #FDFE01;
	font-weight: bold;
	font-size: 25px;
    border-radius: 50%;
    background: transparent;
   box-shadow:0px 0px 15px 5px #FDFE01;
   display: block;
   position: relative;
   margin: 0 auto;

}

.startbutton:hover:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 10px;
   left: 10px;
   right: 10px;
   bottom: 10px;
   border: 3px solid #FDFE01;
   border-radius: 50%;
   box-shadow:0px 0px 15px 5px #FDFE01 ;
}


.quitbutton {
	width: 200px;
	height: 50px;
	border: 3px solid #00CAFC;
	border-radius: 10px;
	background: transparent;
	box-shadow:0px 0px 15px 5px rgba(0,198,255,0.5);
	color: blue;
	font-size: 25px;
	font-weight: bold;
	display: block;
	position: relative;

}


.quitbutton:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border: 3px solid #00CAFC;
   border-radius: 5px;
   box-shadow:0px 0px 15px 5px rgba(0,198,255,0.5)
}

.quitbutton:hover {
	width: 200px;
	height: 50px;
	border: 3px solid #FDFE01;
	border-radius: 10px;
	background: transparent;
	box-shadow:0px 0px 15px 5px #FDFE01;
	color: #FDFE01;
	font-size: 25px;
	font-weight: bold;
	display: block;
	position: relative;

}


.quitbutton:hover:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border: 3px solid #FDFE01;
   border-radius: 5px;
   box-shadow:0px 0px 15px 5px #FDFE01 ; 
}




/*score circle*/

.redpointcircle {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	border: 2px solid  #00CAFC;
	display: block;
	float: left;
	position: relative;
	margin-right: 20px;

}


.redpointcircle:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border: 3px solid #00CAFC;
   border-radius: 50%;
   box-shadow:0px 0px 15px 5px rgba(0,198,255,0.5)
}


.redpointcirclehighlight {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	border: 2px solid  red;
	display: block;
	float: left;
	position: relative;
	margin-right: 20px;

}


.redpointcirclehighlight:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border: 3px solid red;
   border-radius: 50%;
   box-shadow:0px 0px 15px 5px red ;
}


#redscore {
	display: block;  
	float: left; 
	font-size: 60px; 
	line-height: 50px;

}

.bluepointcircle {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	border: 2px solid  #00CAFC;
	display: block;
	float: right;
	position: relative;
	margin-left: 20px;

}


.bluepointcircle:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border: 3px solid #00CAFC;
   border-radius: 50%;
   box-shadow:0px 0px 15px 5px rgba(0,198,255,0.5)
}


.bluepointcirclehighlight {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	border: 2px solid  blue;
	display: block;
	float: right;
	position: relative;
	margin-left: 20px;

}


.bluepointcirclehighlight:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border: 3px solid blue ;
   border-radius: 50%;
   box-shadow:0px 0px 15px 5px blue ;
}

#bluescore {
	display: block;  
	float: left;
	font-size: 60px; 
	line-height: 50px;

}



.redscore1, .redscore2, .redscore3 { 
	background-color: red;
}

.bluescore1, .bluescore2, .bluescore3 {
	background-color: blue;
}


/*Messabges*/

#message{
	font-size: 50px;
	font-weight: bold;
	color: white;
	height: 80px;
	text-align: center;

}

.texteffect {
  padding: 20px;
  font-size: 140px;
  font-family: 'Monoton', cursive;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 80px #00CAFC,0 0 30px FireBrick,0 0 6px DarkRed;
  color: #00CAFC;


}

