

/*Grid Board  Cubde*/


.gridcontainer {
	width: 550px;
	height: 750px;
	border: 2px solid blue;
	position: relative;
	perspective: 2000px;
	margin: 0 auto;

}
.board {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  margin-top: 100px; 

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-animation:tilt 2s 4s linear forwards ;
  -moz-animation:tilt 2s 4s linear forwards ;

}

@-webkit-keyframes tilt {
    0%  { -webkit-transform: rotateX(0deg); }
    50% { -webkit-transform: rotateX(60deg) ; }
    100% { -webkit-transform: rotateX(60deg) rotateZ(45deg); }
}


@-moz-keyframes tilt {
    0%  { -moz-transform: rotateX(0deg); }
    50% { -moz-transform: rotateX(60deg) ; }
    100% { -moz-transform: rotateX(60deg) rotateZ(45deg); }
}





.board side {
	display:block;
	position: absolute;
/*	border: 2px solid black;*/
}

.board .front
 {
	width: 500px;
	height: 500px;
	-webkit-animation:cube 2s 6s linear forwards ;
	-moz-animation:cube 2s 6s linear forwards ;
}



.board .back
 {
	width: 498px;
	height: 498px;
	border: 0px solid #2187e7;
	-webkit-animation:borderback 1s 5s linear forwards ;
	-moz-animation:borderback 1s 5s linear forwards ;
}


.board .right,
.board .left
 {
	width: 200px;
	height: 500px;
	left: 150px;

}

.board .top,
.board .bottom
 {
	width: 500px;
	height: 200px;

}

.board .front  { -webkit-transform: rotateY(   0deg ) translateZ( -100px ); 
				 -moz-transform: rotateY(   0deg ) translateZ( -100px ); 
}
.board .back   { -webkit-transform: rotateX( 180deg ) translateZ( 100px ); 
				 -moz-transform: rotateX( 180deg ) translateZ( 100px ); 

}
.board .right  { -webkit-transform: rotateY(  90deg ) translateZ( 250px ); 
				 -moz-transform: rotateY(  90deg ) translateZ( 250px ); 

}
.board .left   { -webkit-transform: rotateY( -90deg ) translateZ( 250px ); 
	             -moz-transform: rotateY( -90deg ) translateZ( 250px ); 

}
.board .top    { -webkit-transform: rotateX(  90deg ) translateZ( 100px ); 
	             -moz-transform: rotateX(  90deg ) translateZ( 100px ); 

}
.board .bottom { -webkit-transform: rotateX( -90deg ) translateZ( 400px ); 
	             -moz-transform: rotateX( -90deg ) translateZ( 400px ); 

}



.borderline1, .borderline2, .borderline3, .borderline4{
	width:0px;
	height: 2px;
	background:#2187e7; 

}


.borderline1{
/*	width:200px;
	height: 3px;
	background: blue; */
	-webkit-transform: rotate(180deg) translate( 200px, -4px);
	-webkit-transform-origin: 200px 0px 0px;
	-webkit-animation:borderline 2s 6s  linear forwards ;

    -moz-transform: rotate(180deg) translate( 200px, -4px);
	-moz-transform-origin: 200px 0px 0px;
	-moz-animation:borderline 2s 6s  linear forwards ;
}

.borderline2{
/*	width:200px;
	height: 3px;
	background:red; */
	-webkit-transform: rotate(0deg)  translate( 0px, 500px);
	-webkit-animation:borderline 2s 6s  linear forwards ;

	-moz-transform: rotate(0deg)  translate( 0px, 500px);
	-moz-animation:borderline 2s 6s  linear forwards ;
}


.borderline3{
/*	width:200px;
	height: 3px;
	background:red; */
	-webkit-transform: rotate(90deg) translate( -5px, 0px);
	-webkit-transform-origin: 0px 0px 0px;
	-webkit-animation:borderline 2s 6s  linear forwards ;

}

.borderline4{

	-webkit-transform: rotate(270deg) translate( -105px, 400px);
	-webkit-transform-origin: 97px 0px 0px;
	-webkit-animation:borderline 2s 6s  linear forwards ;

	-moz-transform: rotate(270deg) translate( -105px, 400px);
	-moz-transform-origin: 97px 0px 0px;
	-moz-animation:borderline 2s 6s  linear forwards ;
}


@-webkit-keyframes cube {
	from  {-webkit-transform: translateZ( -100px );}
	to {-webkit-transform: translateZ( 100px );}
}

@-moz-keyframes cube {
	from  {-moz-transform: translateZ( -100px );}
	to {-moz-transform: translateZ( 100px );}
}

@-webkit-keyframes borderline {
	from  { width: 0px;}
	to { width:200px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5);}
}


@-moz-keyframes borderline {
	from  { width: 0px;}
	to { width:200px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5);}
}


@-webkit-keyframes borderback {
	from  { border: 0px solid #2187e7; }
	to { border: 2px solid #2187e7; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5);}
}


@-moz-keyframes borderback {
	from  { border: 0px solid #2187e7; }
	to { border: 2px solid #2187e7; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5);}
}




/*Outer Lines*/


.line1, .line2, .line3, .line4
{
	width:0px;
	height: 2px;
	background:#2187e7; 


}

.line1 {
	
	 -webkit-transform: translate( 0px, 2px);
     -webkit-animation:move 1s linear forwards ;

     /*Mozilla Hack*/
	 -moz-transform: translate( 0px, 2px);
     -moz-animation:move 1s linear forwards ;
}

.line2 {

	-webkit-transform: rotate(90deg) translate(250px, -250px);
	-webkit-transform-origin: 250px 0px 0px;
	-webkit-animation:move 1s 1s linear forwards ;

 	/*Mozilla Hack*/
	-moz-transform: rotate(90deg) translate(250px, -250px);
	-moz-transform-origin: 250px 0px 0px;
	-moz-animation:move 1s 1s linear forwards ;


}

.line3 {

	-webkit-transform: rotate(270deg) translate(-250px, -250px);
	-webkit-transform-origin: 250px 0px 0px;
	-webkit-animation:move 1s 3s linear  forwards  ;

	/*Mozilla Hack*/
	-moz-transform: rotate(270deg) translate(-250px, -250px);
	-moz-transform-origin: 250px 0px 0px;
	-moz-animation:move 1s 3s linear  forwards  ;

}

.line4 {

	-webkit-transform: rotate(180deg) translate(0px, 502px);
	-webkit-transform-origin: 250px 500px 0px;
	-webkit-animation:move 1s 2s linear forwards  ;

	/*Mozilla Hack*/
	-moz-transform: rotate(180deg) translate(0px, 502px);
	-moz-transform-origin: 250px 500px 0px;
	-moz-animation:move 1s 2s linear forwards  ;

}




@-webkit-keyframes move {
	from  {width:0px;}
	to { width:500px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-moz-keyframes move {
	from  {width:0px;}
	to { width:500px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}



/*Inner Lines*/

.innerline1, .innerline2, .innerline3, .innerline4
{
	width: 0px;
	height: 2px;
	background: #DC143C; 


}
.innerline1 {

	-webkit-transform: translate(20px, 170px);
	-moz-transform: translate(20px, 170px);
	-webkit-animation:innerline 1s 8s linear forwards ;
	-moz-animation:innerline 1s 8s linear forwards ;
}

.innerline2 {

	-webkit-transform: rotate(180deg)  translate(-20px, -330px);
	-moz-transform:  rotate(180deg)  translate(-20px, -330px);
	-webkit-animation:innerline 1s 9s linear forwards ;
	-moz-animation:innerline 1s 9s linear forwards ;

}

.innerline3 {

	-webkit-transform: rotate(90deg) translate(240px, 61px);
	-moz-transform: rotate(90deg) translate( 240px, 61px);
	-webkit-transform-origin: 230px 0px 0px;
	-moz-transform-origin: 230px 0px 0px;
	-webkit-animation:innerline 1s 8s linear forwards ;
	-moz-animation:innerline 1s 8s linear forwards ;
}

.innerline4 {

	-webkit-transform: rotate(270deg) translate(-239px, 92px);
	-moz-transform: rotate(270deg) translate( -239px, 92px);
	-webkit-transform-origin: 230px 0px 0px;
	-moz-transform-origin: 230px 0px 0px;
	-webkit-animation:innerline 1s 9s linear forwards ;
	-moz-animation:innerline 1s 9s linear forwards ;

}




@-webkit-keyframes innerline {
	from  {width:0px;}
	to { width:460px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}

@-moz-keyframes innerline {
	from  {width:0px;}
	to { width:460px; box-shadow:0px 0px 5px 1px rgba(0,198,255,0.5); }
}


